/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/

.mat-sidenav-container{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    height: auto;
    overflow-y: scroll;
}

.mat-sidenav-container .mat-sidenav {
    padding: 2px;
    min-width: 250px;
    line-height: 0.5em;
}
.container .mat-sidenav .mat-button{
    display: block !important;
    width: 100%;
}

.mat-sidenav-content{
    display: grid;
    grid-auto-rows: 0.05fr 1fr 2fr;
    
}
.mat-card.word-input{
    position: relative;
    top:80px;
}
.mat-card form *{
    display: block;
}
.sc-result{
    margin-top: 80px;
    width: 100%;
}
.result *{
    text-align: center;
}
.mat-list > *{
    display: block;
    position: relative;
}
.mat-list .mat-list-item {
    display: inline-block !important;
    margin: 0 auto;
    height: 28px;
    padding: 0 .1em;
    border: 1px solid #aaa;
    border-radius: 3px;
    overflow: hidden;
    color: #333;
    -webkit-transition: .2s;
    transition: .2s;
    text-align: center;
}