<mat-sidenav-container autosize>
    <mat-sidenav #sidenav class="sidenav">
        <a mat-button color="primary" href="https://github.com/EricSekyere/wordsmate">View Source</a>
        <a mat-button color="primary" href="https://wordsmateserver.herokuapp.com/">Access Server</a>
        <a mat-button color="primary" href = "#" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact author</a>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="sc-header">
            <mat-toolbar>
                <mat-toolbar-row>
                    <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button><span>Wordsmate</span>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
<router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

