.container{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
}

.container .mat-drawer{
    padding: 5px;
    min-width: 200px;
}
.container .mat-drawer .mat-button{
    display: block;
    width: 100%;
}
.tagcloud01 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tagcloud01 ul li {
    display: inline-block;
    margin: 0 .3em .3em 0;
    padding: 0;
}

.tagcloud01 ul li  {
    display: inline-block;
    max-width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0 1em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}

.tagcloud01 ul li li:hover {
    background-color: #3498db;
    border: 1px solid #3498db;
    color: #fff;
}
