<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <article>
      <form>
          <div class="form-group">
<input type="text" class="form-control" id="letters" aria-describedby="letterHelp" placeholder="Enter up to 10 letters"
    [(ngModel)]="letters" name="letters" maxlength="10">
          </div>
          <button type="submit" class="btn btn-primary" (click)="make_request()">Submit</button>
        </form>
  </article>
  
</div>


<div id="result" *ngIf="showResult" class="tagcloud01">
  <ul *ngFor="let perm of perms | keys" >
    <h3 *ngIf="perm.value.length > 0">Words with {{perm.key}} letters</h3>
      <li *ngFor="let item  of perm.value">{{item}}</li>
  </ul>
</div>

<router-outlet></router-outlet>
