@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
* {
      box-sizing: border-box;
}
html, body {
    font-family: Raleway, Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;

}
/*body header {
    text-align: center;
}
div.main-container{
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 100%;
}
div.main-container *{
    display: table-cell;
    vertical-align: middle;
}

footer{
    margin-bottom: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
